<% content_for :head do %>
  <%= stylesheet_link_tag "token-input" %>
  <%= stylesheet_link_tag "forms" %>
  <%= javascript_include_tag "https://raw.github.com/loopj/jquery-tokeninput/master/src/jquery.tokeninput.js" %>
  <%= javascript_include_tag "clubs/form" %>
<% end %>

<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :volume_id, "Book" %>
    <div class="input">
      <%= f.text_field :volume_id %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :admin_name, "Your Name" %>
    <div class="input">
      <%= f.text_field :admin_name %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :admin_password, "Password" %>
    <div class="input">
      <%= f.password_field :admin_password %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :start_time %>
    <div class="input">
      <%= f.datetime_select :start_time, { :default => 2.days.from_now, :use_short_month => true, :minute_step => 15, :start_year => Time.now.year }, { :class => "start_time" } %>
    </div>
  </div>
  <div class="clearfix actions">
    <div class="input">
      <%= f.submit :class => "btn primary" %>
    </div>
  </div>
<% end %>
