<% content_for :head do %>
  <%= stylesheet_link_tag "clubs" %>
  <%= javascript_include_tag "http://static.opentok.com/v0.91/js/TB.min.js" %>
  <%= javascript_include_tag "http://twitter.github.com/bootstrap/1.3.0/bootstrap-modal.js" %>
  <%= javascript_include_tag "clubs/show" %>
  <script type="text/javascript">


    window.app_config = {
      club: <%= @club.to_json.html_safe %>,
      is_moderator: <%= @moderator %>,

      session: TB.initSession("<%= @club.session_id %>"),

      opentok_api_key: <%= APP_CONFIG['opentok_api_key'] %>,
      opentok_token: "<%= @token %>",
    }
</script>
<% end %>

<div class="meeting-head">
  <div class="row">
    <div class="span11 club media-grid"></div>
    <div class="span5 panel"></div>
  </div>
</div>

<% if @moderator %>
  <div class="stage moderator"></div>
<% else %>
  <div class="stage non-moderator"></div>
<% end %>
