<a href="/clubs/<%= id %>">
  <img src="<%= volume.volumeInfo.imageLinks.thumbnail %>" class="thumbnail">
</a>
<div class="club-info">
  <h3><%= volume.volumeInfo.title %></h3>
  <h4>Hosted by <span><%= admin_name %></span></h4>
  <p>
    Starts <span><%= new Date(start_time) %></span>
  </p>
  <p class="enter">
    <a href="/clubs/<%= id %>">Enter this meeting »</a>
  </p>
</div>
<div class="clear"></div>
